header{
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.navTop .navItem{
    display:inline-block;

}
a{
    text-decoration: none;
}
.navItem a{
    padding: 10px 20px;
    display: inline-block;
}
.mainIntro{
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
}
.introB img{
    height: 400px;
}
.mainIntro .introA{
    background-color: white;
    width: 50%;
    margin: 10px;
    text-align: left;
    line-height: 30px;
}
.mainIntro .introB{
    background-color: white;
    width: 50%;
    margin: 10px;
    text-align: right;
}